@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;

    width: 320px;
    height: 1994.11px;
    margin: 0 auto;

    background: #181818;
}

.main-content {
    width: 289px;
    height: 531.13px;
    margin: 17.32px 0 0 16.04px;

    background: rgb(255, 0, 0, 0.2);
}

.main-content__title h2 {
    width: 227px;
    height: 73px;
    margin-bottom: 33.13px;

    font-size: 34px;
    font-weight: 400;
    line-height: 100%;
    /* or 34px */
    color: #FFFFFF;
    background: rgba(0, 145, 255, 0.2);
}

.main-content__text {
    width: 289px;
    height: 425px;

    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */
    color: #FFFFFF;
    background: rgba(0, 145, 255, 0.2);
}

.main-content__text p:first-child {
    margin-bottom: 15px;
}

.main-assistant {
    position: relative;

    width: 289.4px;
    height: 786.79px;
    margin-left: 16.04px;
}

.main-assistant__robot {
    width: 289.4px;
    height: 756.22px;

    position: relative;
    overflow: hidden;
}

.main-assistant__robot-img {

    animation-duration: 5s;
    animation-name: appearance;

    width: 289.4px;
    height: 756.22px;

    background: url(./image/Assistant.png) no-repeat center;
}

@keyframes appearance {
    /* from {
      margin-top: 400%;
      width: 100%;
    }
  
    to {
      margin-top: 0%;
      width: 100%;
    } */

    from {
        transform: translateY(100%);
      }
      to {
          transform: translateY(0);
      }
  }

.main-assistant__hole {
    position: absolute;

    /* animation-duration: 5s;
    animation-name: hole; */
    animation: hole 5s ease-in-out;

    width: 193.78px;
    height: 61.14px;
    top: 725.79px;
    left: calc((289.4px - 193.78px) / 2);

    border-radius: 50%;

    background: #000000;
}

@keyframes hole {
    
    0% { transform: scale(0.5); }
    25% { transform: scale(1); }
    75% { transform: scale(1); }
    100% { transform: scale(0.9); }
        
   }